# dict in data structures
1. dict is collection of items enclosed by {} - here item is a key:value pair
2. in dict keys are unique

In [1]:
# create dict
info={"name":"shiva","add":"hyd","salary":15000,"age":25}
print(info)
print(type(info))

{'name': 'shiva', 'add': 'hyd', 'salary': 15000, 'age': 25}
<class 'dict'>

In [2]:
# accesing values from dict using keys
info={"name":"shiva","add":"hyd","salary":15000,"age":25}
print(info)
print(info["salary"])

{'name': 'shiva', 'add': 'hyd', 'salary': 15000, 'age': 25}
15000

In [3]:
#methods or function in dict
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [4]:
#keys(),values(),items()
info={"name":"shiva","add":"hyd","salary":15000,"age":25}
print(info)
print(info.keys())
print(info.values())
print(info.items())

{'name': 'shiva', 'add': 'hyd', 'salary': 15000, 'age': 25}
dict_keys(['name', 'add', 'salary', 'age'])
dict_values(['shiva', 'hyd', 15000, 25])
dict_items([('name', 'shiva'), ('add', 'hyd'), ('salary', 15000), ('age', 25)])

In [7]:
#update()
info={"name":"shiva","add":"hyd","salary":15000,"age":25}
print(info)
info["add"]="hyderabad"
print(info)
info["domine"]="data engineer"
print(info)

{'name': 'shiva', 'add': 'hyd', 'salary': 15000, 'age': 25}
{'name': 'shiva', 'add': 'hyderabad', 'salary': 15000, 'age': 25}
{'name': 'shiva', 'add': 'hyderabad', 'salary': 15000, 'age': 25, 'domine': 'data engineer'}

In [8]:
#update()
info={"name":"shiva","add":"hyd","salary":15000,"age":25}
print(info)
info.update({"add":"hyderabad"})
print(info)
info.update({"domine":"data engineer"})
print(info)

{'name': 'shiva', 'add': 'hyd', 'salary': 15000, 'age': 25}
{'name': 'shiva', 'add': 'hyderabad', 'salary': 15000, 'age': 25}
{'name': 'shiva', 'add': 'hyderabad', 'salary': 15000, 'age': 25, 'domine': 'data engineer'}

In [9]:
#pop()
info={"name":"shiva","add":"hyd","salary":15000,"age":25}
print(info)
info.pop("add")
print(info)

{'name': 'shiva', 'add': 'hyd', 'salary': 15000, 'age': 25}
{'name': 'shiva', 'salary': 15000, 'age': 25}

# sets in data structures
1. set is collection of unorder unique elements enclosed by {}

In [10]:
#create set
a={70,50,15,30,20,10,10,30,15}
print(a)
print(type(a))

{50, 20, 70, 10, 30, 15}
<class 'set'>

In [11]:
#methods in set
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [12]:
#add() - add elements to set
a={10,20,30,45,60}
print(a)
a.add(100)
print(a)

{20, 10, 60, 45, 30}
{20, 100, 10, 60, 45, 30}

In [14]:
#difference
a={1,2,3,5,4}
b={3,4,5,6,7,8}
c=b.difference(a)
print(c)

{8, 6, 7}

In [15]:
#union()
a={1,2,3,5,4}
b={3,4,5,6,7,8}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
#intersection
a={1,2,3,5,4}
b={3,4,5,6,7,8}
c=a.intersection(b)
print(c)

{3, 4, 5}

In [17]:
# discard()
a={10,20,30,40,50}
print(a)
a.discard(30)
print(a)

{50, 20, 40, 10, 30}
{50, 20, 40, 10}